body{
    display:flex;
    flex-direction: column;
    background-image: url(./images/background.jpg);
}

h1{
    text-align: center;
}

.options{
    display: flex;
    gap: 10px;
    justify-content: center;
}

#rock, #paper, #scissors{
    border: 10px black solid;
    padding: 20px;
    width: 100px;
}